.container-fluid {
    padding-top: 30px;
    padding-bottom: 62px;
    bottom: 0px;
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 10px;
    font-size: 12px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

th {
    text-align: center !important;
}
.checkout {
    float: center;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}